.body-style{
background-color: #3A3A3A;
}
.h1-style{
    width: 381px;
    height: 87px;

    font-family: Mogra, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.text1{
    width: 370px;
    height: 96px;

    font-family: NanumGothicCoding, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.text2{
    width: 370px;
    height: 83px;

    font-family: NanumGothic, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    /* or 107% */
    display: flex;
    align-items: center;

    color: #FFFFFF;
}